@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkcolor: #1F2937;
    --lightcolor: #e5e7eb;
    --medcolor: #3882f6;
    --brightcolor: #f9faf8;
}

* {
    box-sizing: border-box;
    font-family: Roboto, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: var(--darkcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0;
}

.headerlogo {
    font-size: 24px;
    font-weight: 700;
    color: var(--brightcolor);
}

.headerlinks {
    font-size: 18px;
    color: var(--lightcolor);
}

.headerlinks ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    padding-right: 15em;
}

.headerlinks a {
    text-decoration: none;
    color: var(--lightcolor);
}

.headerlinks a:hover {
    color: yellow;
}

.headerlinks a:visted {
    color: var(--lightcolor);
}

.hero {
    background-color: var(--darkcolor);
    height: 500px;
    padding: 50px 0;
    margin-top: 0;
    color: var(--brightcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

#heroimage {
    height: 250px;
    padding-left: 20px;
}

.heroleft {
    padding-left: 100px;
    max-width: 20em;
    display: flex;
    flex-direction: column;
}

.heroright {
    padding-right: 100px;
}

.herohead {
    font-size: 48px;
    font-weight: 900;
    color: var(--lightcolor)
}

.herotext {
    font-size: 18px;
    color: var(--lightcolor);
    margin-top: 5px;
}

.info {
    margin-top: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: 700;
    color: var(--darkcolor);
    text-align: center;
}

.info-boxes {
    display: flex;
    margin: 50px 100px;
    justify-content: space-around;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.testimonial {
    background-color: var(--lightcolor);
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 100px 350px;
}


.byline {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.calltoaction {
    display: flex;
    justify-content: center;
    margin: 40px 0 75px 0;
}

.cta-card {
    background-color: var(--medcolor);
    margin: 10px auto;
    padding: 10px 150px;
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--lightcolor);
    border-radius: 10px;


}

.footer {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    height: 100px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-button {
    margin-top: 15px;
    border: 0;
    background-color: var(--medcolor);
    padding: 8px 25px;
    color: var(--lightcolor);
    border-radius: 10px;
    max-width: 150px;
    text-align: center;
}

.cta-button {
    padding: 8px 25px;
    color: var(--lightcolor);
    border: 3px solid var(--lightcolor);
    border-radius: 10px;
}

.button {
    background-color: var(--medcolor);
    color: var(--lightcolor);
    border: 0;
}